name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dagshub mlflow scikit-learn pandas matplotlib seaborn joblib

      - name: Set MLflow Tracking URI
        run: echo "MLFLOW_MODE=dagshub" >> $GITHUB_ENV

      - name: Run MLflow Project
        run: python MLProject/modelling.py
