name: MLflow CI - Text Emotion Classification

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Miniconda
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: false
          environment-file: MLProject/conda.yaml

      # Install additional packages if needed (TensorFlow/PyTorch)
      - name: Install TensorFlow & PyTorch
        run: |
          pip install tensorflow torch

      # Debug: cek file & folder
      - name: List files
        run: ls -R

      # Jalankan MLflow Project
      - name: Run MLflow Project
        run: |
          mlflow run MLProject \
            -P dataset_path=MLProject/namadataset_preprocessing/text_emotion_clean.csv

      # Upload MLflow artifacts ke GitHub Actions
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: MLProject/mlruns
