name: CI MLflow Project

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-mlflow:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Miniconda
      uses: goanpeca/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.12

    - name: Create conda env
      run: conda env create -f MLProject/conda.yaml

    - name: Activate conda env
      run: |
        conda init bash
        source ~/.bashrc
        conda activate text_emotion_env

    - name: Set MLflow credentials
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: echo "MLflow credentials set"

    - name: Run MLflow Project
      run: mlflow run MLProject --experiment-name "TextEmotion_CI"
