name: MLflow CI - Text Emotion Classification

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest

    steps:
    # Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Setup Miniconda
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-activate-base: false

    # Install MLflow
    - name: Install MLflow
      run: pip install mlflow

    # Debug: lihat file & folder
    - name: List files
      run: ls -R

    # Jalankan MLflow Project
    - name: Run MLflow Project
      run: |
        mlflow run MLProject \
          -P dataset_path=MLProject/namadataset_preprocessing \
          -P other_param=value

    # Upload MLflow artifacts
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v3
      with:
        name: mlruns
        path: MLProject/mlruns
