name: MLflow CI - Text Emotion Classification

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest

    steps:
    # Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Setup Conda environment
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        environment-file: MLProject/conda.yaml
        auto-activate-base: true

    # Debug: lihat file & folder
    - name: List files
      run: ls -R

    # Jalankan MLflow Project
    - name: Run MLflow Project
      run: |
        mlflow run MLProject \
          -P dataset_path=MLProject/namadataset_preprocessing/text_emotion_clean.csv

    # Upload MLflow artifacts
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlruns
        path: MLProject/mlruns
