name: MLflow CI - Text Emotion Classification

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-mlflow-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: MLProject/conda.yaml
          auto-activate-base: true
          activate-environment: text_emotion_env

      - name: List files
        run: ls -R

      - name: Run MLflow Project
        run: |
          conda run -n text_emotion_env python MLProject/modelling.py

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: MLProject/mlruns
