name: ML CI Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    env:                     # ⬅️ DI SINI LETAKNYA
      MLFLOW_MODE: dagshub
      DMLFLOW_TRACKING_TOKEN: ${{ secrets.DAGSHUB_MLFLOW_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt || \
          pip install mlflow dagshub scikit-learn pandas matplotlib seaborn joblib

      - name: Run training
        run: |
          python MLProject/modelling.py
